{% extends 'base.html' %} {% block content %}

<div class="container">

    <h3>Add A Recipe</h3>
    <div class="row">
        <div class="col-12">
            <form name="new_recipe_form" action="{{ url_for('insert_recipe') }}" method="POST" id="form1">
                <!-- Field for recipe name-->
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="recipe_name">Recipe Name:</label>
                        <input type="text-area" class="form-control capitalise" name="recipe_name" id="recipe_name" placeholder="Enter recipe name" autofocus required>
                    </div>
                    <!-- Field for cooks name-->
                    <div class="col-md-6">
                        <label for="cook_name">Your Name:</label>
                        <input type="text-area" class="form-control capitalise" name="cook_name" id="cook_name" placeholder="Enter your name" required>
                    </div>
                </div>
                <!-- Dropdown field for choosing cuisine type-->
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="cuisine_name">Choose a style of cuisine:</label>
                        <select class="form-control" id="cuisine_name" name="cuisine_name">
                    <option value = "" disabled selected></option>
                    {% for cuisine in cuisines %}
                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name.title()}}</option>
                    {% endfor %}
                </select>
                    </div>
                    <!-- Dropdown field for meal type-->
                    <div class="col-md-6">
                        <label for="meal">Meal type</label>
                        <select class="form-control" id="meal" name="meal">
                    <option value = "" disabled selected></option>
                    {% for meal in mealChoice %}
                     <option value="{{meal.mealChoiceName}}">{{meal.mealChoiceName.title()}}</option>
                    {% endfor %}
                </select>
                    </div>
                </div>


                <!-- Field for preparation time-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label for="prep_time">Preparation Time:</label>
                        <input type="text-area" class="form-control  capitalise" name="prep_time" id="prep_time" placeholder="Enter prep time">
                    </div>
                    <!-- Field for total cooking time -->
                    <div class="col-md-3 col-sm-6">
                        <label for="total_cooking_time">Total Cooking Time:</label>
                        <input type="text-area" class="form-control  capitalise" name="total_cooking_time" id="total_cooking_time" placeholder="Enter total cook time">
                    </div>

                    <!-- Dropdown field for total servings -->
                    <div class="col-md-3 col-sm-6">
                        <label for="meal">Serves/Portions</label>
                        <select class="form-control" id="serves" name="serves">
                    <option value = "" disabled selected></option>
                    {% for serves in serves %}
                    <option value="{{serves.servings}}">{{serves.servings}}</option>
                    {% endfor %}
                        </select>
                    </div>
                    <!-- Field for amount of fat per serving -->
                    <div class="col-md-3 col-sm-6">
                        <label for="fat_per_serve">Fat per serving:</label>
                        <input type="text-area" class="form-control  capitalise" name="fat_per_serve" id="fat_per_serve" placeholder="Fat per serve?">
                    </div>
                </div>

                <h3>Add your ingredients</h3>

                <div class="row" id="divIngredient1">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control ingredient" placeholder="Type in an ingredient and click add " aria-label="ingredient 1" aria-describedby="button-addon2" name="ingredient1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" id="addIngredient1Button" name="addIngredient1Button">+</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row hidden-div" id="divIngredient2">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient2" aria-describedby="button-addon2" name="ingredient2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button" id="addIngredient1Button" name="addIngredient1Button">+</button>
                                <button class="btn btn-outline-danger" type="button" id="ing2" name="ing2">-</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing3">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 3" aria-describedby="button-addon2" name="ingredient 3">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing3">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing4">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 4" aria-describedby="button-addon2" name="ingredient 4">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ingredient 4">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing5">
                    <div class="col">
                        <div class="input-group ing5">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 5" aria-describedby="button-addon2" name="ing5">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing5">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing6">
                    <div class="col">
                        <div class="input-group ing6">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 6" aria-describedby="button-addon2" name="ing6">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing6">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing7">
                    <div class="col">
                        <div class="input-group ing7">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 7" aria-describedby="button-addon2" name="ing7">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing7">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing8">
                    <div class="col">
                        <div class="input-group ing8">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 8" aria-describedby="button-addon2" name="ing8">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing8">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing9">
                    <div class="col">
                        <div class="input-group ing9">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 9" aria-describedby="button-addon2" name="ing9">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing9">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing10">
                    <div class="col">
                        <div class="input-group ing10">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 10" aria-describedby="button-addon2" name="ing10">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing10">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing11">
                    <div class="col">
                        <div class="input-group ing11">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 11" aria-describedby="button-addon2" name="ing11">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing11">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing12">
                    <div class="col">
                        <div class="input-group ing12">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 12" aria-describedby="button-addon2" name="ing12">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing12">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing13">
                    <div class="col">
                        <div class="input-group ing13">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 13" aria-describedby="button-addon2" name="ing13">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing13">add</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row hidden-div" id="div-ing14">
                    <div class="col">
                        <div class="input-group ing14">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 14" aria-describedby="button-addon2" name="ing14">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing14">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing15">
                    <div class="col">
                        <div class="input-group ing15">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 15" aria-describedby="button-addon2" name="ing15">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing15">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing16">
                    <div class="col">
                        <div class="input-group ing16">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 16" aria-describedby="button-addon2" name="ing16">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing16">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing17">
                    <div class="col">
                        <div class="input-group ing17">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 17" aria-describedby="button-addon2" name="ing17">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing17">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing18">
                    <div class="col">
                        <div class="input-group ing18">
                            <input type="text" class="form-control input-no-margin" placeholder="type in an ingredient and click add" aria-label="ingredient 18" aria-describedby="button-addon2" name="ing18">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing18">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing19">
                    <div class="col">
                        <div class="input-group ing19">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 19" aria-describedby="button-addon2" name="ing19">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing19">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-ing20">
                    <div class="col">
                        <div class="input-group ing20">
                            <input type="text" class="form-control" placeholder="type in an ingredient and click add" aria-label="ingredient 20" aria-describedby="button-addon2" name="ing20">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="ing20">add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Method</h3>
                    </div>
                </div>

                <div class="row" id="div-step1">
                    <div class="col">
                        <div class="form-group">
                            <label for="step1">Step 1</label>
                            <textarea class="form-control" id="methodStep1" rows="5" name="methodStep1"></textarea>
                            <button class="btn btn-outline-secondary" type="button" id="step1btn" name="step1">add</button>
                        </div>
                    </div>
                </div>

                <div class="row hidden-div" id="div-methodStep2">
                    <div class="col">
                        <div class="form-group">
                            <label for="step2">Step 2</label>
                            <textarea class="form-control" id="methodStep2 rows=" 5 " name="methodStep2 "></textarea>
                                    <button class="btn btn-outline-secondary " type="button " id="step2btn ">add</button>
                                </div>
                            </div>
                        </div>

                        <div class="row hidden-div " id="div-methodStep3 ">
                            <div class="col ">
                                <div class="form-group ">
                                    <label for="step3 ">Step 3</label>
                                    <textarea class="form-control " id="step3 " rows="5 " name="methodStep3 "></textarea>
                                    <button class="btn btn-outline-secondary " type="button " id="step3btn ">add</button>
                                </div>
                            </div>
                        </div>

                        <div class="row hidden-div " id="div-methodStep4 ">
                            <div class="col ">
                                <div class="form-group ">
                                    <label for="step4 ">Step 4</label>
                                    <textarea class="form-control " id="methodStep4 " rows="5 " name="methodStep4 "></textarea>
                                    <button class="btn btn-outline-secondary " type="button " id="step4btn ">add</button>
                                </div>
                            </div>
                        </div>


                    </>
                    <div class="custom-control custom-switch ">
                        <div class="col ">
                            <input type="checkbox " class="custom-control-input " id="favourite " name="favourite ">
                            <label class="custom-control-label " for="favourite ">Add to Favourites?</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col ">
                            <h3>Nutrition</h3>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col ">
                            <button class="btn btn-primary " type="submit " id="addRecipe ">Submit form</button>
                        </div>
                    </div>
            </form>

        </div>
        </div>
    </div>

{% endblock %}